<div class="box box-primary">
  <div class="box-header">
    <i class="fa fa-file"></i>
    ข้อมูลคลินิก
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <label>ชื่อ</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <label>เบอร์โทร</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <label>เลขผู้เสียภาษี</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="form-group">
          <label>ที่อยู่</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="text-center">
          <button class="btn btn-primary btn-lg">
            <i class="fa fa-check"></i>
            บันทึก
          </button>
      </div>
    </div>
  </div>
</div>
