<ul class="sidebar-menu" data-widget="tree">

    <li class="active treeview">
        <a (click)="dashboard()">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a (click)="clinic()">
            <i class="fa fa-file"></i> <span>ข้อมูลคลินิก</span>
        </a>
    </li>
    <li>
        <a (click)="customer()">
            <i class="fa fa-user"></i> <span>ทะเบียนลูกค้า</span>
        </a>
    </li>
    <li>
        <a (click)="pet()">
            <i class="fa fa-globe"></i> <span>สัตว์เลี้ยง</span>
        </a>
    </li>
    <li>
        <a (click)="repair()">
            <i class="fa fa-pencil"></i> <span>บันทึกการรักษา</span>
        </a>
    </li>
    <li>
        <a (click)="mediceen()">
            <i class="fa fa-cog"></i> <span>เวชภัณฑ์</span>
        </a>
    </li>
    <li>
        <a (click)="report()">
            <i class="fa fa-list-alt"></i> <span>รายงาน</span>
        </a>
    </li>
</ul>